.contenedor{
    background-color: red;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas:"ti ti ti"
                        "men men men"
                        "car1 car2 carr"
                        "pie pie pie";
}
.tit{
    background-color: aquamarine;
    grid-area: ti;
    padding: 10px;

}
.menu{
    background-color: azure;
    grid-area: men;
}
.car1{
    background-color: azure;
    grid-area: car1;
}
.car2{
    background-color: azure;
    grid-area: car2;
}
.carr{
    background-color: azure;
    grid-area: carr;

}
.pie{
    background-color: aquamarine;
    grid-area: pie;
}
h5{
    color: red;
}